
        img.logotype  {
            width: 2%;}
        .Logo  {
        width: 141px;
        height: 27px;
        left: 929px;
        top: 56px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
        color: black;}
        #Logo1 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
            color: black; 
            text-decoration-line: line-through;   
        }
        .menu {
        justify-content: space-around;
        margin: 0 15px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;
        text-decoration: none;
        color: black;}
        .menu:hover {
        background: #D7B399;} 
        h2,h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: 0.02em;}
        h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.03em;
        color: black;}
        h4::first-letter {color: rgba(215, 179, 153, 1);}
        h4::selection {color: blue; 
        background: burlywood;}
        #discount {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 55px;
        line-height: 67px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: black;}
        #newprice {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 42px;
        line-height: 51px;
        letter-spacing: 0.02em;
        color: rgba(216, 64, 51, 1);} 
        button {
        width: 181px;
        height: 20px;
        left: 434px;
        top: 436px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 1);} 
        #offer {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 21px;
        line-height: 26px;
        color: rgba(255, 255, 255, 1);} 
        #clothes {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 16px;
        line-height: 20px;} 
        input {
        height: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.02em;
        background-color: rgba(249, 246, 241, 1);}
        .flexcontainerheader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 content; 
        height: 7em;
        background: #F9F6F1;
        }
        #dressprice {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 18px;
            line-height: 51px;
            letter-spacing: 0.02em;
            color: rgba(215, 179, 153, 1);}     
        
        .flexcontainerfooter {
            flex-shrink: 0;
            display: flex;
            flex: 0 0 content;
            justify-content: space-around;
            padding: 0 10%; 
            background-color: black;
        }
        .firstpage {
        display: flex;
        flex: 1;
        }
        .firstpage1 {
            flex: 50%;
            background-color: #F9F6F1;
            padding: 5em;
        }
        .firstpage2 {
            flex: 50%;
            background-color: #F9F6F1;
            padding: 20px;
        }
        .firstpageblack {
            display: flex;
            background-color: black;
            width: 100%;
            height: 12vh;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
        .collection {
            display: flex;
            justify-content: center;
            background-color: #F9F6F1;
            }
        .gifts {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            }
        .discountdress {
            flex: 1;
            display: flex;
            justify-content: center;
        }
        .discountH2 {
            display: flex;
            justify-content: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 55px;
            line-height: 67px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: black;}
        .footerflex {
            font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 21px;
        line-height: 26px;
        color: rgba(255, 255, 255, 1);} 
        .logoconteiner {
            display: flex;
            align-items: center;
        }

